recursive-include  newsletter_automation/ *
recursive-include  newsletter_automation/conf *
recursive-include  newsletter_automation/helpers *
recursive-include  newsletter_automation/newsletter *
recursive-include  newsletter_automation/newsletter/templates *
recursive-include  newsletter_automation/newsletter/static *
recursive-include  newsletter_automation/newsletter/static/css *
recursive-include  newsletter_automation/newsletter/static/img *
include requirements.txt

global-exclude *.py[cod]
