Flask
Flask-WTF
wtforms-components
flask-sqlalchemy==2.5.1
SQLAlchemy==1.4
flask-migrate
mailchimp-marketing==3.0.44
pylint
PyMySQL==1.0.2
oauthlib>=3.2.1
pytz
wtforms==2.3.3
great_expectations
pytest
tld==0.12.6
prometheus-client
psutil