Flask
Flask-WTF
wtforms-components
flask-sqlalchemy
flask-migrate
mailchimp-marketing
pylint
PyMySQL
oauthlib
pytz
requests
pytest
selenium
pytest-xdist
pytest-rerunfailures
pillow
tesults
loguru
pytest-docker
