{% include "base.html" %}
{% include "layout.html" %}
{% include "menu.html" %}
{% block content %}

<h2>Add <b>Articles </b> <span style="float: right">

</h2>
<div class="logoutLblPos">
   <button type="button" onclick="location.href = '/logout'">
       Logout
   </button>
</div>

   <form action = "{{ request.path }}" method = "post">
      <div class="col-md-12">
      <table class="table table-hover table" >
         <tr>
            <td > URL:{{ addarticlesform.url(id="url", class="form-control", autofocus="",placeholder="URL")}}</td>
         </tr>&nbsp;&nbsp;&nbsp;
         <tr>
            <td> Title:{{ addarticlesform.title(id="title", class="form-control", autofocus="",placeholder="Title")}}</td>
         </tr>
         <tr>
            <td> Description:{{ addarticlesform.description(id="description", class="form-control", autofocus="",placeholder="Description")}}</td>
         </tr>
         <tr>
            <td> Time:{{ addarticlesform.time(placeholder="Time",id="time", class="form-control", autofocus="") }}</td>
         </tr>
         <tr>
            <td> Category:{{ addarticlesform.category_id(placeholder="category",id="category_id", class="form-control", required="") }}</td>
         </tr>
         <tr align="center">
            <td>{{ addarticlesform.submit(class="btn btn-lg btn-primary")}}</td>
         </tr>
      </table>
      </div>
      <br>
      <div>
         <button type = "button" class="btn btn-primary" onclick =
         "location.href = './home'">
         Go back to Home
      </button>
      </div>
      <br><br>
      <!-- Removing The Duplicate logout button
      <div>
         <button type="button" onclick="location.href = '/logout'">
            Logout
         </button>
      </div> -->
</form>
{% endblock content %}
