<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Newsletter articles"</title>
</head>
<body>
<h2>Add <b>Articles </b> <span style="float: right">
   <form action="./manage-articles">
      <button type="submit">Manage Articles</button>
   </form>
   <div>
      <button type="button" onclick="location.href = '/logout'">
         Logout
      </button>
   </div>
   </h2>
<form action="" method = "post">

   <form action = "{{ request.path }}" method = "post">
         {{ addarticlesform.url(id="url", class="form-control", autofocus="",placeholder="URL")}}
         {{ addarticlesform.title(id="title", class="form-control", autofocus="",placeholder="Title")}}
         {{ addarticlesform.description(id="description", class="form-control", autofocus="",placeholder="Description")}}
         {{ addarticlesform.time(placeholder="Time",id="time", class="form-control", autofocus="") }}
         {{ addarticlesform.category_id(placeholder="category",id="category_id", class="form-control", required="") }}
         {{ addarticlesform.submit(class="btn btn-lg btn-primary btn-block")}}
         <br></br>
         <div>
            <button type = "button" onclick =
            "location.href = './home'">
            Go back to Home
        </button>
         </div>

        
</form>
</body>
</html>
