<div class="row col-md-12">
  <!--Logo and tagline-->
  <div class="col-md-2 top-space-5">
    <a href="/"><img src="/static/img/qxf2_logo.png" class="img-responsive logo col-md-12" alt="Qxf2 Services"></a>
  </div>
  <div class="col-md-8 top-space-15 text-center">
      <h1 class="banner-brown text-center">Qxf2 Newsletter Generator</h1>
  </div>
  <div class="col-md-2 top-space-25 dropdown">
    <i class="fas fa-bars fa-2x hamburger-right"></i>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/articles">Add Article</a>
      <a href="/manage-articles">Manage Articles</a>
      <a href="/old-articles">Old/Published Articles</a>
      <a href="/create-newsletter">Create Newsletter</a>
      <a href="/show-campaign">Show Campaign</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>
<!--Logo and tagline-->