{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
            <h3>Hello there!</h3>
            <p>Welcome to Qxf2's newsletter generator. We developed this application to achieve two goals:</p>
            <ol>
                <li>1. Make newsletter generation quicker</li>
                <li>2. Improve employee reading habits</li>
            </ol>
            <p>Links posted on our etc,etc,etc channel on Skype show up on this application. Every article is assigned an article editor who creates a summary for it. On Wednesdays, at 14:00 IST, a group of 3 employees use this application and the links stored here to generate a newsletter on MailChimp. MailChimp sends out the newsletter to our subscribers on Fridays. If you have not already signed up for our newsletter, please sign up <a href="https://qxf2.com/blog/the-informed-testers-newsletter/">here</a>.
        <br>
        </div>
        <div class="row">
            <h4>Article editors</h4>
            <p>A good article editor is a key to achieving goals 1 and 2. As an article editor, please ensure you are giving good summaries of the articles that you are reading. Avoid giving lazy one-liners. Your summaries must make the reader want to click on the link. Ensure that the link URLs are clean and do not have unnecessary tracking parameters. <b>Delete</b> articles that are inappropriate for our newsletter. For more information, follow the instructions <a href="https://sites.google.com/qxf2.com/wiki/home/r-d/article-editor">on our wiki</a>. </p>
        </div>
        <div class="row">
            <h4>How to use the newsletter?</h4>
            <p>You are a tester. Explore the product. Figure it out for yourself. Gone are the days of documentation and KT. Modern software is expected to be intuitive. If it is not, then raise UX bugs.</p>
        </div>
        <div class="row">
            <h4>Known issues</h4>
            <p>We have some precarious workflows when previewing a campaign. As of now, if you preview a campaign, your next step has to be to create the campaign. You cannot take any other next step without putting the newsletter generator into a weird state.</p>
            <p>There are several other niggling issues being tracked in <a href="https://trello.com/b/ImyHTSgO/newsletter-generator-loose-ends">this Trello board</a>. Please make sure to go through the tickets on that board before raising a new one.</p>
    </div>
</div>
{% endblock %}