{%include "layout.html" %}
{%include "base.html" %}
{%include "menu.html" %}
{% block content %}
<div class="logoutLblPos">
    <button type="button" onclick="location.href = '/logout'">
        Logout
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <form method="POST" , action="">
                <legend>Manage Articles </legend>

                    <table class="table table-hover table" >
                        <tr>

                            <th>Title</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Reading Time</th>
                            <th>Newsletter Id</th>
                            <th>Article Editor</th>
                        </tr>
                        {% for articles in article_data %}
                        <tr>

                            <td> {{articles.title}}</td>
                            <td> {{articles.url}}</td>
                            <td> {{articles.description}}</td>
                            <td> {{articles.time}}</td>
                            <td> {{articles.newsletter_id}}</td>
                            <td> {{articles.article_editor}}</td>

                            <td>
                                <a href="/edit/{{articles.article_id}}" class="btn btn-primary btn-xs"
                                    >Edit</a>
                                <a href="/delete/{{articles.article_id}}" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                    <br></br>
                    <div>
                        <button type = "button" onclick =
                        "location.href = './home'">
                        Go back to Home
                    </button>
                    </div>

                   
            </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
