{%include "layout.html" %}
{%include "base.html" %}
{%include "menu.html" %}
{% block content %}
<head>


<!--Stylesheets-->
<link href="/static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

 <!--JS files-->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script type="text/javascript" charset="utf8"
     src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

</head>
<body>
    



<div class="logoutLblPos">
    <button type="button" onclick="location.href = '/logout'">
        Logout
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <form method="POST" , action="">
                <legend>Manage Articles </legend>
                <div class="row-fluid">
                    <table id="table_id" class="table table-striped" >
                        <tr>

                            <th>Title</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Reading Time</th>
                            <th>Newsletter Id</th>
                        </tr>
                        {% for articles in article_data %}
                        <tr>

                            <td> {{articles.title}}</td>
                            <td> {{articles.url}}</td>
                            <td> {{articles.description}}</td>
                            <td> {{articles.time}}</td>
                            <td> {{articles.newsletter_id}}</td>

                            <td>
                                <a href="/edit/{{articles.article_id}}" class="btn btn-primary btn-xs"
                                    >Edit</a>
                                <a href="/delete/{{articles.article_id}}" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                </div>
                    
                    <br></br>
                    <div>
                        <button type = "button" onclick =
                        "location.href = './home'">
                        Go back to Home
                    </button>
                    </div>

                   
            </form>

            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            searching: true

        });
    });

</script>
{% endblock scripts %}
