{%include "layout.html" %}
{%include "base.html" %}
{%include "menu.html" %}
{% block content %}
<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>
</head>

<body>
<div class="logoutLblPos">
    <button type="button" onclick="location.href = '/logout'">
        Logout
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <form method="POST" , action="">
                <legend>Manage Articles </legend>
                <table id="tableID" class="table table-hover ">
                    <thead>
                        <tr>

                            <th>Title</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Reading Time</th>
                            <th>Newsletter Id</th>
                        </tr>
                    </thead>
                    
                <tbody>
                        {% for articles in article_data %}
                        <tr>

                            <td> {{articles.title}}</td>
                            <td> {{articles.url}}</td>
                            <td> {{articles.description}}</td>
                            <td> {{articles.time}}</td>
                            <td> {{articles.newsletter_id}}</td>

                            <td>
                                <a href="/edit/{{articles.article_id}}" class="btn btn-primary btn-xs"
                                    >Edit</a>
                                <a href="/delete/{{articles.article_id}}" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                            </td>

                        </tr>
                        {% endfor %}
                </tbody> 
                </table>
                </div>
                    
                    <br></br>
                    <div>
                        <button type = "button" onclick =
                        "location.href = './home'">
                        Go back to Home
                    </button>
                    </div>     
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('#tableID').DataTable( {
                "columnDefs": [
                    { "visible": false },
                    {
                        "targets": [1, 2, 3, 4, 5],
                        "orderable": false,

                    }]
            });
        });

</script>
</body>
{% endblock content %}


