<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<link href="/static/css/style.css" rel="stylesheet">
<div class="wrapper">
    <div class="dropdown">
        <i class="glyphicon glyphicon-menu-hamburger" ></i>
        <div class="dropdown-content">
            <a href="./articles">Articles</a>
            <a href="./manage-articles">Manage Articles</a>
            <a href="./create-newsletter">Create Newsletter</a>
            <a href="./show-campaign">Show Campaign</a>
        </div>
    </div>
</div>
</html>