{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <form method="GET" , action="">
                <legend>Old/Published Articles </legend>

                    <table class="table table-hover table" >
                        <tr>

                            <th>Title</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Reading Time</th>
                            <th>Newsletter Id</th>
                        </tr>
                        {% for articles in article_data %}
                        <tr>

                            <td> {{articles.title}}</td>
                            <td> {{articles.url}}</td>
                            <td> {{articles.description}}</td>
                            <td> {{articles.time}}</td>
                            <td> {{articles.newsletter_id}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
            </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
