{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="POST" , action="">
        <fieldset class="form-group">
            <legend>Show Campaign Table</legend>
            <div>
                <table class="table table-hover table">
                    <tr>
                        <th>Newsletter id</th>
                        <th>Category</th>
                        <th>URL</th>
                        <th>Title</th>
                        </th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>Opener</th>
                        <th>Preview</th>
                    </tr>
                    {% for row in campaign_data %}
                    <tr>
                        <td>{{row.newsletter_id}}</td>
                        <td>{{row.category_name}}</td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word">{{row.url}}</div>
                        </td>
                        <td>{{row.title}}</td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word">{{row.description}}</div>
                        </td>
                        <td>{{row.time}}</td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word">{{row.subject}}</div>
                        </td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word">{{row.opener}}</div>
                        </td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word">{{row.preview}}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
</div>
{% endblock content %}