<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Newsletter articles"</title>
</head>
<body>
<h2>Newsletter articles</h2>
<form action="" method = "post">
 
   <p>url <input type = "text" name = "URL" /></p>
  <p>title <input type = "text" name = "Title" /></p>
  <p>description <input type = "text" name = "Description" /></p>
  <p>time <input type = "text" name = "Time" /></p>
  <p>category_id<input type = "text" name = "Category" /></p>
  <input type = "submit" value = "Submit" />
</form> 
</body>
</html>
