
<html>
<head>
    <style>
        h1 {text-align: center;}
    </style>
    <title>Qxf2 Newsletter Generator</title>
</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <div class="row">
            <h4>This application is used to create and generate the weekly Qxf2 newsletter</h4> 
            <!-- <br>
                There are has two main entities: <a href="./articles">articles</a>, <a href="./newsletter">newsletter</a>
            <br> -->
            <br>
                <h4 style="color:blue;">Add articles</h4>
                <ul><li>Navigate to <a href="./articles">articles</a></li>
                    <li>Further instructions..</li>
                </ul>
                <h4 style="color: blue;">Create newsletter</h4>
                    <ul>
                    <li>Navigate to <a href="./newsletter">newsletter</a></li>
                    <li>Further instructions.. </li>
                </ul>
                
        </div>
    </div>


</body>

</html>
