<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
        <title>Preview Newsletter</title>
    </head>
    
    <body>
      
        <div>
            <table>
  <thead>
    <tr>
        <th>newsletter id</th>
        <th>subject</th>
        
    </tr>
    </thead>    
    <tbody>
     {% for row in content %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
            <p>
	    <!--content: {{content}}-->
	<!--	<tbody>
     {% for row in content %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
	    {% endfor %}-->
            </p>

        </div>
    </body>
    
    </html>
    
