<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Newsletter articles"</title>
</head>
<body>
<h2>Newsletter articles</h2>
<form action="/articles.html">
  <p>URL <input type = "text" name = "URL" /></p>
  <p>Title <input type = "text" name = "Title" /></p>
  <p>Description <input type = "text" name = "Description" /></p>
  <p>Time <input type = "time" name = "Time" /></p>
  <p>Category <input type = "text" name = "Category" /></p>
  <button type="submit" form="form" value="Submit">Submit</button>
</form> 
</body>
</html>